---
import { getCollection } from "astro:content";
import Container from "../../components/Container.astro";
import PostList from "../../components/PostList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Main from "../../layouts/Main.astro";

const posts = (await getCollection("blog", (post) => !post.data.draft)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Main title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section>
      <h1 class="mb-16 text-center text-6xl font-bold">Blog</h1>

      {posts.length > 0 ? <PostList posts={posts} /> : <p class="text-center text-4xl">No posts yet!</p>}
    </section>
  </Container>
</Main>
