---
import ContactMeForm from "../../components/ContactMeForm.astro";
import Container from "../../components/Container.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Main from "../../layouts/Main.astro";
---

<Main title={`Contact me - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section class="ae-prose">
      <h1>Contact me</h1>

      <ContactMeForm />
    </section>
  </Container>
</Main>
