---
import Container from "../../components/Container.astro";
import Link from "../../components/Link.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Main from "../../layouts/Main.astro";
---

<Main title={`Success - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section class="ae-prose">
      <h1>Submission received!!</h1>

      <p>Thank you for reaching me out! I'll get back to you ASAP.</p>

      <p>While waiting, you could check out some of mine <Link href="/blog" target="_self">blog posts</Link>!</p>
    </section>
  </Container>
</Main>
