@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
}

@layer components {
  .ae-body {
    @apply flex
    min-h-screen
    flex-col
    bg-ae-white
    text-ae-black
    dark:bg-ae-black
    dark:text-ae-white;
  }
}
