@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  @apply scroll-smooth;
}

body {
  min-width: 320px;
}

a,
button,
input,
pre,
textarea {
  @apply focus:outline-none focus:ring focus:ring-ae-pink;
}

@layer components {
  .ae-body {
    @apply flex
    min-h-screen
    flex-col
    bg-ae-white
    text-ae-black
    selection:bg-ae-yellow
    selection:text-ae-black
    dark:bg-ae-black
    dark:text-ae-white
    dark:selection:bg-ae-yellow
    dark:selection:text-ae-black;
  }

  .ae-prose {
    @apply prose
    prose-ae
    m-auto
    dark:prose-invert
    md:prose-lg
    lg:prose-xl;
  }
}
