@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
}

@layer components {
  .ae-body {
    @apply flex
    min-h-screen
    flex-col
    bg-ae-white
    text-ae-black
    dark:bg-ae-black
    dark:text-ae-white;
  }

  .ae-prose {
    @apply prose
    m-auto
    dark:prose-invert
    md:prose-lg
    lg:prose-xl
    prose-headings:text-ae-black
    prose-p:text-ae-black
    prose-a:text-ae-pink
    prose-blockquote:border-ae-pink
    prose-figure:bg-transparent
    prose-figcaption:text-ae-black
    prose-strong:text-ae-black
    prose-em:text-ae-black
    prose-code:text-ae-black
    prose-pre:bg-ae-blue
    prose-ol:text-ae-black
    prose-ul:text-ae-black
    prose-li:text-ae-black
    prose-li:marker:text-ae-black
    prose-table:bg-ae-white
    prose-thead:bg-ae-white
    prose-tr:bg-ae-white
    prose-th:bg-ae-white
    prose-td:bg-ae-white
    prose-hr:border-ae-black
    dark:prose-headings:text-ae-white
    dark:prose-p:text-ae-white
    dark:prose-a:text-ae-pink
    dark:prose-blockquote:border-ae-pink
    dark:prose-figure:bg-transparent
    dark:prose-figcaption:text-ae-white
    dark:prose-strong:text-ae-white
    dark:prose-em:text-ae-white
    dark:prose-code:text-ae-white
    dark:prose-pre:bg-ae-blue
    dark:prose-ol:text-ae-white
    dark:prose-ul:text-ae-white
    dark:prose-li:text-ae-white
    dark:prose-li:marker:text-ae-white
    dark:prose-table:bg-ae-black
    dark:prose-thead:bg-ae-black
    dark:prose-tr:bg-ae-black
    dark:prose-th:bg-ae-black
    dark:prose-td:bg-ae-black
    dark:prose-hr:border-ae-white;
  }
}

// These rules have not been used yet (and the relative dark version).
// prose-img:border-4
// prose-img:border-ae-red
// prose-video:border-4
// prose-video:border-ae-red
