---
import { getCollection } from "astro:content";
import Container from "../../components/Container.astro";
import TagList from "../../components/TagList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Main from "../../layouts/Main.astro";

const posts = await getCollection("blog", (post) => !post.data.draft);
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

const prettyTags = uniqueTags
  .map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));

    return {
      name: tag,
      count: filteredPosts.length,
    };
  })
  .sort((a, b) => a.name.localeCompare(b.name));
---

<Main title={`Tags - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section>
      <h1 class="mb-16 text-center text-6xl font-bold">Tags</h1>

      {prettyTags.length > 0 ? <TagList tags={prettyTags} /> : <p class="text-center text-4xl">No tags yet!</p>}
    </section>
  </Container>
</Main>
