---
import Sword from "../components/icons/Sword.astro";
import Container from "../components/ui/Container.astro";
import Link from "../components/ui/Link.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Main from "../layouts/Main.astro";
---

<Main title={`404 - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section class="ae-prose">
      <h1 class="text-center">404</h1>

      <blockquote class="text-4xl">
        <p>
          It's dangerous to go alone! Take this.
          <br />
          —
          <cite>Old Man</cite>
        </p>
      </blockquote>

      <div class="text-center">
        <Link href="/">
          <Sword color="stroke-ae-pink" size="w-48" />
        </Link>
      </div>
    </section>
  </Container>
</Main>
