---
import { Image } from "astro:assets";
import ailequal from "../assets/ailequal.png";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Main from "../layouts/Main.astro";
---

<Main title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section class="ae-prose">
      <Image class="mx-auto mt-0 rounded-sm" width={240} height={240} src={ailequal} alt="ailequal" />

      <h1>About me</h1>

      <p>
        I'm a computer geek by nature. I have always been in love with the information technology and the English
        language: I found out that programming is the perfect mix between these two.
      </p>

      <p>My alias is <code>ailequal</code> (a wordplay between my name and surname).</p>

      <p>
        Right now I am working at <Link href="https://www.sparkfabrik.com" target="_blank">SparkFabrik</Link>, mainly as
        a front-end developer (specifically with TypeScript and Angular). During the 2023 I also took part in one of the
        company's podcast episode (beware italian language only) as a guest for a moment: <Link
          href="https://www.youtube.com/live/fFH6k1mmmWM?si=5rBZzAYxGQ9a2AoN&t=4062"
          target="_blank"
        >
          Continuous Delivery
        </Link>.
      </p>

      <p>
        In the past, I also worked as a backend-end developer with PHP and WordPress/WooCommerce. With the experience
        gained from that past job, I have written a WordPress plugin that is still being used in my parents' hotel for
        easily displaying the menu of the day: <Link href="https://github.com/ailequal/witte" target="_blank">
          witte
        </Link>.
      </p>

      <p>
        To checkout other projects that I tinkered with (<Link
          href="https://github.com/ailequal/eliapari.com"
          target="_blank"
        >
          like this website
        </Link>), just head to my <Link href="https://www.github.com/ailequal" target="_blank">GitHub</Link>. Last, but
        not least, <Link href="https://www.github.com/ailequal.gpg" target="_blank">this</Link> is my public PGP key.
      </p>

      <p>To contact me, go <Link href="/contact-me" target="_self">here</Link>.</p>

      <p>Happy browsing!</p>
    </section>
  </Container>
</Main>
