---
import BaseHead from "../components/BaseHead.astro";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />

    <main class="flex-grow mb-6">
      <Container size="sm" marginBottom="mb-6">
        <div class="flex flex-col items-center">
          <img class="mb-4" width={180} height={180} src="/elia-pari.jpg" alt={SITE_TITLE} />

          <h1 class="mb-2 text-3xl">{SITE_TITLE}</h1>
  
          <h2>Web Developer</h2>
        </div>
      </Container>

      <Container size="sm">
        <h3>Somenthing about yesterday</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel pretium enim. Aenean nec enim aliquam, pharetra elit lobortis, venenatis mauris. Proin luctus gravida risus, non fermentum orci vulputate et. Vivamus hendrerit eros quis libero pharetra, ut suscipit metus convallis. Nunc faucibus luctus mattis. Suspendisse et mauris mi. Proin suscipit eget risus a pretium. Donec nec elit id felis consequat dapibus sagittis quis massa. Etiam vitae scelerisque magna. Phasellus sagittis ultricies odio. Mauris lorem tellus, euismod vel viverra ut, lobortis eu eros. Sed fermentum enim vel lacus placerat, eget posuere urna porttitor. Aenean non sollicitudin enim. Maecenas porta enim in elementum euismod. Vivamus odio turpis, sollicitudin sit amet varius nec, malesuada ut urna.</p>
      </Container>
    </main>

    <Footer />
  </body>
</html>
