---
export interface Props {
  size?: "sm" | "base";
  marginBottom?: string;
}

const { size = "base", marginBottom = "mb-0" } = Astro.props;
---

{
  size === "sm" && (
    <div class={`mx-auto w-full max-w-4xl px-2 sm:w-4/6 sm:px-6 lg:px-8 ${marginBottom}`}>
      <slot />
    </div>
  )
}

{
  size === "base" && (
    <div class={`mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 ${marginBottom}`}>
      <slot />
    </div>
  )
}
