---
import Container from "./Container.astro";
import Email from "./Email.astro";
import GitHub from "./GitHub.astro";
import Link from "./Link.astro";
import LinkedIn from "./LinkedIn.astro";
import Twitter from "./Twitter.astro";
import YouTube from "./YouTube.astro";

const today = new Date();

// TODO: Add the email section for contact.
---

<footer>
  <Container>
    <div class="block py-2 text-lg xsm:flex xsm:items-center xsm:justify-between">
      <ul class="mb-6 flex items-center justify-center gap-7 xsm:mb-0 lg:gap-12">
        <li><Link href="#" target="_self"><Email size="w-8" /></Link></li>
        <li><Link href="https://github.com/ailequal" target="_blank"><GitHub size="w-8" /></Link></li>
        <li><Link href="https://www.linkedin.com/in/ailequal" target="_blank"><LinkedIn size="w-8" /></Link></li>
        <li><Link href="https://twitter.com/ailequal" target="_blank"><Twitter size="w-8" /></Link></li>
        <li><Link href="https://www.youtube.com/@ailequal" target="_blank"><YouTube size="w-8" /></Link></li>
      </ul>

      <div class="text-right xsm:text-left">
        <span>&copy;{today.getFullYear()} | Elia Pari</span>
      </div>
    </div>
  </Container>
</footer>
