---
import Container from "./Container.astro";
import Email from "./Email.astro";
import GitHub from "./GitHub.astro";
import Link from "./Link.astro";
import LinkedIn from "./LinkedIn.astro";
import Twitter from "./Twitter.astro";
import YouTube from "./YouTube.astro";

const today = new Date();

// TODO: Add the email section for contact.
---

<footer>
  <Container>
    <div class="block xsm:flex xsm:items-center xsm:justify-between py-2">
      <ul class="flex justify-center items-center lg:flex-grow gap-7 lg:gap-12 mb-4 xsm:mb-0">
        <li><Link href="#" target="_self"><Email /></Link></li>
        <li><Link href="https://github.com/ailequal" target="_blank"><GitHub /></Link></li>
        <li><Link href="https://www.linkedin.com/in/ailequal" target="_blank"><LinkedIn /></Link></li>
        <li><Link href="https://twitter.com/ailequal" target="_blank"><Twitter /></Link></li>
        <li><Link href="https://www.youtube.com/@ailequal" target="_blank"><YouTube /></Link></li>
      </ul>

      <div class="text-right xsm:text-left">
        <span>&copy;{today.getFullYear()} | Elia Pari</span>
      </div>
    </div>
  </Container>
</footer>
