---
import { SITE_TITLE } from "../consts";
import Container from "./Container.astro";
import Link from "./Link.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

// TODO: Move the social links into the footer?!!
---

<header class="mb-6">
  <Container>
    <nav class="flex justify-between items-center py-2">
      <div>
        <Link class="font-bold" href="/">{SITE_TITLE}</Link>
      </div>

      <div class="flex items-center gap-6">
        <Link class="font-bold" href="/blog">Blog</Link>
        <Link class="font-bold" href="/about">About</Link>
        <ThemeSwitcher />
      </div>
    </nav>
  </Container>
</header>
