---
import { SITE_TITLE } from "../consts";
import Link from "./Link.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

// TODO: Move the social links into the footer?!!
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>

  <nav>
    <Link href="/">Home</Link>
    <Link href="/blog">Blog</Link>
    <Link href="/about">About</Link>
    <Link href="https://github.com/ailequal" target="_blank">GitHub</Link>
    <Link href="https://www.linkedin.com/in/ailequal" target="_blank">LinkedIn</Link>
    <Link href="https://twitter.com/ailequal" target="_blank">Twitter</Link>
    <ThemeSwitcher />
  </nav>
</header>
