---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

// TODO: Move the social links into the footer?!!
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>

  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://github.com/ailequal" target="_blank">GitHub</HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/ailequal" target="_blank">LinkedIn</HeaderLink>
    <HeaderLink href="https://twitter.com/ailequal" target="_blank">Twitter</HeaderLink>
    <ThemeSwitcher />
  </nav>
</header>
