---
import Feed from "../icons/Feed.astro";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mastodon from "../icons/Mastodon.astro";
import Container from "../ui/Container.astro";
import Link from "../ui/Link.astro";

const today = new Date();
---

<footer>
  <Container>
    <div class="block py-2 text-lg xsm:flex xsm:items-center xsm:justify-between">
      <ul class="mb-6 flex items-center justify-center gap-7 xsm:mb-0 lg:gap-12">
        <li>
          <Link href="/feed.xml" target="_self" title="Feed" aria-label="Feed">
            <Feed size="w-8" />
          </Link>
        </li>

        <li>
          <Link href="https://github.com/ailequal" target="_blank" title="GitHub" aria-label="GitHub">
            <GitHub size="w-8" />
          </Link>
        </li>

        <li>
          <Link
            href="https://continuousdelivery.social/@ailequal"
            target="_blank"
            title="Mastodon"
            aria-label="Mastodon"
          >
            <Mastodon size="w-8" />
          </Link>
        </li>

        <li>
          <Link href="https://www.linkedin.com/in/ailequal" target="_blank" title="LinkedIn" aria-label="LinkedIn">
            <LinkedIn size="w-8" />
          </Link>
        </li>
      </ul>

      <div class="text-right xsm:text-left">
        <span>&copy;{today.getFullYear()} | Elia Pari</span>
      </div>
    </div>
  </Container>
</footer>
