---
import { SITE_TITLE } from "../../consts";
import Container from "../ui/Container.astro";
import Link from "../ui/Link.astro";
import ThemeSwitcher from "../ui/ThemeSwitcher.astro";
---

<header class="mb-8">
  <Container>
    <nav class="flex items-center justify-between py-3 text-xl">
      <div>
        <Link class="font-bold" href="/">{SITE_TITLE}</Link>
      </div>

      <ul class="flex items-center gap-6">
        <li><Link class="font-bold" href="/blog">Blog</Link></li>
        <li><Link class="font-bold" href="/about">About</Link></li>
        <li aria-hidden="true"><ThemeSwitcher /></li>
      </ul>
    </nav>
  </Container>
</header>
