---
import BaseHead from "../components/common/BaseHead.astro";
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body class="ae-body">
    <Header />

    <main class="mb-12 flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>
