---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & { children: any };

const { href, class: className, ...props } = Astro.props;
---

<a href={href} class={`inline-block ${className}`} {...props}>
  <slot />
</a>
